<h1>See the events happening soon</h1>
<% @events.each do |event| %>
    <p> <strong> <%= event.name %> </strong> | at: <%= event.date %> </p>
    <%= link_to 'More info', event_path(event.id) %>
    <hr>
<% end %>